@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

@font-face {
  font-family: ChenYuluoyan;
  src: url(../font/ChenYuluoyan-2.0-Thin.woff) format("woff"),
    url(../font/ChenYuluoyan-2.0-Thin.otf) format("opentype");
}

$green: #abcd03;
$orange: #f6ab00;
$blue: #0ca7f1;
$lemon: #e6e400;
$pearl-white: #f8f8f8;
$not-just-black: #4b4b4b;
$white: #ffffff;
$sky-blue: #82d0f5;
$marrs-green: #009683;
$gold: #be8a43;
$gray: #d9d9d9;
$navy: #00496d;
$yellow: #FDD23F;
$red: #D06C15;
$gray-2: #B4B4B4;
$transition: 0.3s;
$chenyuluoyan: "ChenYuluoyan", "Noto Sans TC";

body {
  font-family: "Noto Sans TC", sans-serif;
  color: $not-just-black;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  transition: $transition;
  color: $not-just-black;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0;
}

input,
button {
  outline: none;
  background-color: transparent;
  border: 0;
}

.container {
  max-width: 1770px;
  padding-left: 40px;
  padding-right: 40px;
  @media screen and (max-width: 1900px) {
  padding-left: 100px;
  padding-right: 100px;
  }
  @media screen and (max-width: 1300px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (max-width: 1199px) {
    padding-left: 26px;
    padding-right: 26px;
  }
  @media screen and (max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  height: 140px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 0;
  }
  &.border {
    &-orange {
      &::after {
        background-color: $orange;
      }
    }
    &-green {
      &::after {
        background-color: $lemon;
      }
    }
    &-yellow {
      &::after {
        background-color: $yellow;
      }
    }
    &-blue {
      &::after {
        background-color: $sky-blue;
      }
    }
    &-marrs {
      &::after {
        background-color: $marrs-green;
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &_logo {
    width: 250px;
  }
  &_main {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &_nav {
    height: 100%;
    display: flex;
    align-items: center;
    &_first {
      display: flex;
      align-items: center;
      height: 100%;
    }
    &_second {
      position: absolute;
      width: 100%;
      background-color: $white;
      top: 100%;
      left: 0;
      transition: $transition;
      transform: translateY(-20px);
      opacity: 0;
      visibility: hidden;
      a {
        padding: 10px;
        border-bottom: 0.5px solid #fbf1db;
        text-align: center;
        font-size: 20px;
      }
    }
    &_item {
      position: relative;
      height: 100%;
      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 40px;
        text-align: center;
        font-size: 22px;
        cursor: pointer;
        span {
          display: block;
          position: relative;
          svg {
            width: 23px;
            height: 9px;
            position: absolute;
            top: calc(100% + 4px);
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      &.color {
        &-orange {
          > a {
            span {
              color: $orange;
              svg {
                path {
                  fill: $orange;
                }
              }
            }
          }
          .header_nav {
            &_second {
              a {
                color: $orange;
                border-color: #fbf1db;
                &:hover {
                  background-color: #fbf1db;
                }
              }
            }
          }
          &:hover,
          &.active {
            > a {
              background-color: $orange;
            }
          }
        }
        &-blue {
          > a {
            span {
              color: $blue;
              svg {
                path {
                  fill: $blue;
                }
              }
            }
          }
          .header_nav {
            &_second {
              a {
                color: $blue;
                border-color: #d3ecf8;
                &:hover {
                  background-color: #d3ecf8;
                }
              }
            }
          }
          &:hover,
          &.active {
            > a {
              background-color: $blue;
            }
          }
        }
        &-green {
          > a {
            span {
              color: $green;
              svg {
                path {
                  fill: $green;
                }
              }
            }
          }
          .header_nav {
            &_second {
              a {
                color: $green;
                border-color: #e9fbd6;
                &:hover {
                  background-color: #e9fbd6;
                }
              }
            }
          }
          &:hover,
          &.active {
            > a {
              background-color: $green;
            }
          }
        }
        &-marrs {
          > a {
            span {
              color: $marrs-green;
              svg {
                path {
                  fill: $marrs-green;
                }
              }
            }
          }
          .header_nav {
            &_second {
              a {
                color: $marrs-green;
                border-color: #9ef1e6;
                &:hover {
                  background-color: #9ef1e6;
                }
              }
            }
          }
          &:hover,
          &.active {
            > a {
              background-color: $marrs-green;
            }
          }
        }
      }
      &.has-child {
        &:hover {
          > a {
            span {
              color: $white;
              svg {
                path {
                  fill: $white;
                }
              }
            }
          }
          .header_nav_second {
            opacity: 1;
            transform: none;
            visibility: visible;
          }
        }
      }
      &.active {
        > a {
          span {
            color: $white;
            svg {
              path {
                fill: $white;
              }
            }
          }
        }
      }
      &:not(.has-child) {
        &.active, &:hover {
          a {
            color: $gray;
          }
        }
      }
    }
  }
  &_lang {
    margin-left: 20px;
    margin-right: 55px;
    position: relative;
    &_title {
      width: 145px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      cursor: pointer;
    }
    ul {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      background-color: $white;
      z-index: 10;
      display: none;
      a {
        padding: 10px;
        font-size: 20px;
        text-align: center;
        &.active {
          color: rgba(75, 75, 75, 0.4);
          background-color: #d3d3d3;
        }
      }
    }
  }
  &_search {
    display: flex;
    align-items: center;
    padding: 9px 12px;
    border-radius: 100px;
    background-color: #f8f8f8;
    width: 175px;
    input {
      width: calc(100% - 16px);
      padding-right: 10px;
      font-size: 13px;
      &::placeholder {
        color: #aeaeae;
      }
    }
    button {
      padding: 0;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &_top {
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $orange;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    bottom: 20px;
    z-index: 10;
    padding: 0;
    transition: $transition;
    opacity: 0;
    visibility: hidden;
    svg {
      path {
        fill: #fff;
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &_menu {
    height: 100%;
    padding: 0;
    position: relative;
    width: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    &_inner {
      width: 19px;
      height: 16px;
      position: relative;
    }
    .bar {
      width: 100%;
      height: 1px;
      background-color: $not-just-black;
      left: 0;
      position: absolute;
      transition: $transition;
      &-top {
        top: 0;
      }
      &-middle {
        top: 50%;
      }
      &-bottom {
        top: calc(100% - 1px);
      }
    }
    &.active {
      .bar {
        top: 50%;
        left: 50%;
        &-top,
        &-middle {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &-bottom {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
  @media screen and (max-width: 1900px) {
    height: 95px;
    &_nav {
      &_item {
        > a {
          font-size: 16px;
          padding: 0 20px;
        }
      }
      &_second {
        a {
          font-size: 16px;
        }
      }
    }
    &_lang {
      margin-left: 0;
      margin-right: 20px;
      &_title {
        width: 130px;
      }
    }
    &_logo {
      width: 180px;
    }
    &_lang {
      &_title {
        font-size: 16px;
      }
    }
  }
  @media screen and (max-width: 1300px) {
    &_top {
      right: 15px;
    }
  }
  @media screen and (max-width: 1199px) {
    height: 73px;
    .container {
      padding-right: 0;
    }
    &::after {
      height: 2px;
    }
    &_nav {
      position: fixed;
      width: 180px;
      display: block;
      top: 73px;
      right: 0;
      height: auto;
      max-height: calc(100vh - 73px);
      overflow-y: auto;
      display: none;
      background-color: $white;
      &_first {
        display: block;
        height: auto;
      }
      &_second {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;
        display: none;
      }
      &_item {
        height: auto;
        > a {
          padding: 14px 10px;
          border-bottom: 0.5px solid $gray;
          font-size: 16px;
          span {
            svg {
              display: none;
            }
          }
          &.active {
            span {
              color: $white;
            }
          }
        }
        &.color {
          &-orange {
            > a {
              &.active {
                background-color: $orange;
              }
            }
          }
          &-blue {
            > a {
              &.active {
                background-color: $blue;
              }
            }
          }
          &-green {
            > a {
              &.active {
                background-color: $green;
              }
            }
          }
          &-marrs {
            > a {
              &.active {
                background-color: $marrs-green;
              }
            }
          }
        }
      }
    }
    &_lang {
      margin: 0;
      &_title {
        width: 100%;
        padding: 14px 10px;
      }
      ul {
        position: static;
      }
    }
  }
  @media screen and (max-width: 575px) {
    .container {
      // padding-left: 15px;
      padding-right: 0;
    }
    &_logo {
      width: 150px;
    }
    &_search {
      width: 100px;
      padding: 5px 8px;
      input {
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
  @media screen and (max-width: 370px) {
    &_logo {
      width: 120px;
    }
    &_search {
      width: 80px;
    }
  }
}

.main {
  padding-top: 140px;
  background-image: url(../img/bg.svg);
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  @media screen and (max-width: 1900px) {
    padding-top: 95px;
  }
  @media screen and (max-width: 1199px) {
    padding-top: 73px;
  }
}

.footer {
  &_top {
    background-color: $lemon;
    padding: 50px 0 45px;
    .container {
      display: flex;
      justify-content: space-between;
    }
  }
  &_logo {
    width: 335px;
    margin-bottom: 45px;
  }
  &_line {
    p {
      font-size: 20px;
      margin-bottom: 35px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 82px;
      height: 82px;
      border-radius: 50%;
      background-color: $white;
      text-align: center;
      font-weight: 700;
      font-size: 15px;
      color: $green;
    }
  }
  &_info {
    width: fit-content;
    h3 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 23px;
    }
    &_item {
      display: flex;
      align-items: center;
      margin-bottom: 23px;
      gap: 10px;
      width: fit-content;
      transition: $transition;
      &:hover {
        opacity: 0.7;
        span {
          color: $not-just-black;
        }
      }
      &.phone {
        svg {
          width: 17px;
          height: 17px;
        }
        &.icon-white {
          svg {
            path {
              fill: $white;
            }
          }
        }
      }
      &.media {
        img {
          width: 28px;
        }
      }
      &.lantern {
        img {
          width: 23px;
        }
        span {
          font-size: 18px;
        }
      }
      span {
        font-size: 20px;
      }
    }
  }
  &_event {
    &_pic {
      width: 240px;
      margin-bottom: 20px;
    }
    &_duration {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
  &_bottom {
    padding: 10px 0;
    background-color: #f8f7c6;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_logo {
      width: 284px;
    }
  }
  &_copyright {
    display: flex;
    align-items: center;
    gap: 23px;
    p {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 1700px) {
    &_top {
      padding-top: 38px;
      padding-bottom: 34px;
    }
    &_logo {
      width: 250px;
      margin-bottom: 34px;
    }
    &_line {
      p {
        font-size: 15px;
        margin-bottom: 26px;
      }
      a {
        width: 70px;
        height: 70px;
        font-size: 12px;
      }
    }
    &_info {
      h3 {
        font-size: 21px;
        margin-bottom: 17px;
      }
      &_item {
        margin-bottom: 17px;
        gap: 8px;
        span {
          font-size: 15px;
        }
        &.phone {
          svg {
            width: 13px;
            height: 13px;
          }
        }
        &.media {
          img {
            width: 21px;
          }
        }
        &.lantern {
          img {
            width: 17px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
    &_event {
      &_pic {
        width: 180px;
        margin-bottom: 15px;
      }
      &_duration {
        font-size: 17px;
        margin-bottom: 23px;
      }
    }
    &_copyright {
      p {
        font-size: 15px;
      }
    }
    &_bottom {
      padding: 8px 0;
      &_logo {
        width: 213px;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    &_top {
      .container {
        flex-direction: column;
        gap: 50px;
      }
    }
    &_event {
      &_pic {
        margin: 0;
      }
      &_duration {
        margin: 0;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &_bottom {
      padding: 23px 0;
      .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
      }
    }
    &_copyright {
      flex-direction: column;
      gap: 7px;
      align-items: flex-start;
      p {
        &.footer_copyright {
          &_name {
            font-size: 15px;
          }
          &_content {
            font-size: 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 575px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
    &_logo {
      width: 225px;
      margin-bottom: 40px;
    }
    &_line {
      p {
        font-size: 15px;
        margin-bottom: 27px;
      }
      a {
        width: 60px;
        height: 60px;
      }
    }
    &_info {
      h3 {
        font-size: 18px;
        margin-bottom: 16px;
      }
      &_item {
        margin-bottom: 16px;
        padding: 0 !important;
        &.phone {
          width: 50%;
        }
        &.media {
          img {
            width: 53px;
          }
          span {
            display: none;
          }
        }
        &.lantern {
          span {
            font-size: 15px;
          }
        }
      }
    }
    &_event {
      &_pic {
        width: 160px;
      }
      &_duration {
        font-size: 15px;
      }
    }
  }
}

.banner {
  position: relative;
  width: 100%;
  padding-bottom: 46.09%;
  > img {
    position: absolute;
  }
  &_title {
    position: absolute;
    top: 3.07vw;
    left: calc((100vw - 1770px) / 2 + 100px);
  }
  &-home {
    background-color: #f8f8f8;
    .banner_title {
      width: 36.15vw;
    }
  }
  &-1day {
    background-color: $orange;
  }
  &-2day {
    background-color: $blue;
  }
  &-3day {
    background-color: $green;
  }
  &-railway {
    background-color: $marrs-green;
    &.banner-inner {
      .banner_title {
        img {
          width: 24vw;
          margin-bottom: 40px;
        }
      }
    }
  }
  &-traffic {
    background-color: $lemon;
    &.banner-inner {
      .banner_title {
        img {
          width: 15vw;
          margin-bottom: 65px;
        }
        h1 {
          color: $not-just-black;
        }
      }
    }
  }
&-inner {
  .banner_title {
    img {
      width: 31.09vw;
      margin-bottom: 48px;
    }
    h1 {
      color: #fff;
      font-size: 40px;
      margin: 0;
      font-weight: 500;
    }
  }
}
  &_shape {
    width: 36.91vw;
    right: 12.05vw;
    top: 1.95vw;
  }
  &_circle {
    width: 26.41vw;
    top: 1.25vw;
    right: 4.11vw;
  }
  &_mountain {
    width: 100%;
    left: 0;
    bottom: 0;
  }
  &_graphic {
    width: 41.77%;
    right: 0;
    bottom: 0;
  }
  &_en {
    width: 4.06%;
    right: 2.66vw;
    bottom: 6.5vw;
  }
  &_train {
    position: absolute;
    width: 25.9vw;
    top: 6.15vw;
    right: 6.41vw;
  }
  @media screen and (max-width: 1970px) {
    &_title {
      left: 100px;
    }
  }
  @media screen and (max-width: 1600px) {
    &-inner {
      .banner_title {
        h1 {
          font-size: 29px;
        }
      }
    }
  }
  @media screen and (max-width: 1300px) {
    &_title {
      left: 40px;
    }
  }
  @media screen and (max-width: 1199px) {
    &_title {
      left: 26px;
    }
    &-inner {
      .banner_title {
        h1 {
          font-size: 24px;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    &-inner {
      .banner_title {
        img {
          margin-bottom: 20px;
        }
        h1 {
          font-size: 19px;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 105.13%;
    &-home {
      .banner_title {
        width: 46.84vw;
        top: 6.92vw;
      }
    }
    &-inner {
      .banner_title {
        top: 5.9vw;
        width: calc((100vw - 52px) / 2);
        img {
          width: 47.82vw;
          margin-bottom: 8px;
        }
        h1 {
          font-size: 12px;
        }
      }
    }
    &_shape {
      width: 67.95vw;
      right: 10.51vw;
      top: 16.15vw;
    }
    &_circle {
      width: 37.51vw;
      top: 14.36vw;
      right: 1.14vw;
    }
    &_graphic {
      width: 70.18%;
    }
    &_en {
      width: 6.78%;
      right: 26px;
      bottom: 3.96vw;
    }
    &-railway {
      &.banner-inner {
        .banner_title {
          img {
            width: 23vw;
            margin-bottom: 14px;
          }
        }
      }
    }
    &-traffic {
      &.banner-inner {
        .banner_title {
          img {
            width: 22vw;
            margin-bottom: 14px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 575px) {
    &_title {
      left: 15px;
    }
  }
}

.explore {
  padding: 200px 0;
  &_title {
    max-width: 985px;
    margin: 0 auto 150px;
    width: 100%;
  }
  .row {
    margin: 0;
    > div {
      padding: 0;
    }
  }
  &_text {
    p {
      font-size: 35px;
      color: #252525;
      text-align: justify;
    }
  }
  &_pic {
    padding-left: 180px;
    img {
      margin: 0 auto;
    }
  }
  &_route {
    padding-bottom: 30px;
    h2 {
      text-align: center;
      color: $orange;
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 40px;
    }
    button {
      width: 226px;
      margin: 0 auto 40px;
      padding: 0;
      display: block;
      img {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 1700px) {
    &_text {
      p {
        font-size: 26px;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    &_title {
      max-width: 600px;
      margin-bottom: 75px;
    }
    &_text {
      p {
        font-size: 24px;
      }
    }
    &_pic {
      padding-left: 100px;
    }
  }
  @media screen and (max-width: 991px) {
    &_pic {
      padding-left: 0;
      margin-top: 100px;
    }
  }
  @media screen and (max-width: 575px) {
    padding: 40px 0 80px;
    &_title {
      margin-bottom: 50px;
    }
    &_pic {
      max-width: 240px;
      margin: 65px auto 0;
    }
    &_text {
      p {
        font-size: 20px;
      }
    }
  }
}

.spotlight {
  margin-bottom: 95px;
  &_title {
    width: 580px;
    margin-bottom: 110px;
  }
  &_content {
    max-width: 1285px;
    width: 100%;
    margin: 0 auto;
  }
  .row {
    margin-left: -50px;
    margin-right: -50px;
    > div {
      padding-left: 50px;
      padding-right: 50px;
      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        transform: translateX(-100px);
      }
      &:last-child,
      &:nth-child(4),
      &:nth-child(5) {
        transform: translateX(100px);
      }
    }
  }
  &_item {
    margin-bottom: 75px;
    h2 {
      font-size: 35px;
      font-weight: 500;
      margin: 0;
      text-align: center;
    }
  }
  &_pic {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 25px;
    box-shadow: 85px 0 0 $gray;
    transform: translateX(-42.5px);
    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
  @media screen and (max-width: 1600px) {
    &_content {
      max-width: inherit;
      padding: 0 80px;
    }
    .row {
      > div {
        padding-left: 20px;
        padding-right: 20px;
        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
          transform: translateX(-50px);
        }
        &:last-child,
        &:nth-child(4),
        &:nth-child(5) {
          transform: translateX(50px);
        }
      }
    }
    &_pic {
      width: 200px;
      height: 200px;
      box-shadow: 40px 0 0 $gray;
      transform: translateX(-20px);
    }
    &_item {
      h2 {
        font-size: 28px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .row {
      > div {
        &:nth-child(odd) {
          transform: none !important;
        }
        &:nth-child(even) {
          transform: translateY(40px) !important;
        }
      }
    }
    &_item {
      margin-bottom: 45px;
    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 130px;
    &_title {
      max-width: 280px;
      margin: 0 auto 50px;
    }
    &_content {
      padding: 0;
      max-width: 350px;
    }
    .row {
      margin-left: -25px;
      margin-right: -25px;
      > div {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    &_pic {
      width: 90px;
      height: 90px;
      box-shadow: 30px 0 0 $gray;
      transform: translateX(-15px);
      margin-bottom: 8px;
    }
    &_item {
      h2 {
        font-size: 15px;
      }
    }
  }
  @media screen and (max-width: 370px) {
    &_title {
      max-width: inherit;
      width: 100%;
    }
    .row {
      margin-left: -15px;
      margin-right: -15px;
      > div {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.route {
  h2 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 75px;
    color: $orange;
  }
  &_item {
    max-width: 1400px;
    width: 100%;
    padding-top: 140px;
    margin: 0 auto 210px;
    transition: $transition;
    > .row {
      margin: 0;
      > div {
        padding: 0;
      }
    }
    &.color {
      &-orange {
        .route {
          &_title {
            h3 {
              color: $orange;
            }
          }
          &_link {
            &_text {
              p {
                color: $orange;
              }
            }
          }
          &_pin {
            svg {
              path {
                fill: $orange;
              }
            }
          }
        }
      }
      &-blue {
        .route {
          &_title {
            h3 {
              color: $blue;
            }
          }
          &_link {
            &_text {
              p {
                color: $blue;
              }
            }
          }
          &_pin {
            svg {
              path {
                fill: $blue;
              }
            }
          }
        }
      }
      &-green {
        .route {
          &_title {
            h3 {
              color: $green;
            }
          }
          &_link {
            &_text {
              p {
                color: $green;
              }
            }
          }
          &_pin {
            svg {
              path {
                fill: $green;
              }
            }
          }
        }
      }
      &-marrs {
        .route {
          &_title {
            h3 {
              color: $marrs-green;
            }
          }
          &_link {
            &_text {
              p {
                color: $marrs-green;
              }
            }
          }
          &_pin {
            svg {
              path {
                fill: $marrs-green;
              }
            }
          }
        }
      }
    }
    &.link {
      &-right {
        .route {
          &_text {
          padding-right: 65px;
          }
          &_link {
          padding-left: 90px;
          }
        }
      }
      &-left {
        .route {
          &_link {
            padding-right: 90px;
          }
          &_text {
            padding-left: 60px;
          }
          &_text-wrap {
            order: 2;
          }
          &_link-wrap {
            order: 1;
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &_title {
    margin-bottom: 34px;
    img {
      width: 350px;
      margin: 0 auto 18px;
    }
    h3 {
      text-align: center;
      font-size: 45px;
      font-weight: 500;
    }
  }
  &_text {
    h4 {
      max-width: 520px;
      margin: 0 auto 65px;
      font-weight: normal;
      color: #252525;
      font-size: 35px;
      text-align: justify;
    }
  }
  &_pic {
    img {
      width: 100%;
      margin-bottom: 18px;
    }
    p {
      font-size: 35px;
      font-weight: 500;
      color: #252525;
    }
  }
  &_link {
    &_item {
      display: flex;
      align-items: center;
      gap: 22px;
      margin-bottom: 50px;
      width: fit-content;
      &:hover {
        opacity: 0.3;
      }
    }
    &_text {
      h5 {
        font-family: $chenyuluoyan;
        font-size: 48px;
        margin-bottom: 0;
      }
      p {
        font-size: 21px;
        font-weight: 500;
        letter-spacing: 0.08em;
        margin-top: 5px;
      }
    }
    &_pic {
      &.day1 {
        width: 254px;
        margin-left: auto;
      }
      &.day2 {
        width: 473px;
        margin-left: auto;
        margin-top: 55px;
      }
      &.day3 {
        width: 660px;
        margin: 165px auto 0;
      }
      &.railway {
        margin: 85px 0 80px 80px;
      }
    }
    &_icon {
      display: flex;
      align-items: center;
      gap: 25px;
      img {
        width: 70px;
      }
      h3 {
        font-family: $chenyuluoyan;
        margin: 0;
        font-size: 48px;
      }
    }
    &_wrapper {
      width: fit-content;
      margin: 0 auto;
    }
  }
  &_pin {
    position: relative;
    svg {
      width: 68px;
      height: 111px;
    }
    &_text {
      position: absolute;
      text-align: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding-top: 10px;
      p {
        color: $white;
        font-weight: 700;
        line-height: 1;
      }
      img {
        width: 40px;
        margin: 0 auto;
      }
    }
    &_en {
      font-size: 39px;
      margin-bottom: 4px;
    }
    &_ch {
      font-size: 18px;
      margin: 0;
    }
  }
  &-inner {
    padding-bottom: 47.71vw;
    &.color {
      &-green {
        .route {
          &_pin {
            svg {
              path {
                fill: $green;
              }
            }
          }
          &_feat {
            &_title {
              background-color: $green;
            }
          }
          &_day {
            &_title {
              color: $green;
            }
            &_arrow {
              path {
                fill: $green;
              }
            }
          }
          &_hotel {
            &_title {
              svg {
                path {
                  fill: $green;
                }
              }
            }
            h4 {
              color: $green;
            }
          }
          &_place {
            &_arrow,
            &_name {
              background-color: $green;
            }
            &_text {
              h4 {
                color: $green;
              }
            }
            &_info,
            &_next {
              svg {
                path {
                  fill: $green;
                }
              }
            }
          }
        }
        .railway_next {
          path {
            fill: $green;
          }
        }
      }
      &-yellow {
        .route {
          &_pin {
            svg {
              path {
                fill: $orange;
              }
            }
          }
          &_feat {
            &_title {
              background-color: $orange;
            }
          }
          &_day {
            &_title {
              color: $orange;
            }
            &_arrow {
              path {
                fill: $orange;
              }
            }
          }
          &_hotel {
            &_title {
              svg {
                path {
                  fill: $orange;
                }
              }
            }
            h4 {
              color: $orange;
            }
          }
          &_place {
            &_arrow,
            &_name {
              background-color: $orange;
            }
            &_text {
              h4 {
                color: $orange;
              }
            }
            &_info {
              svg {
                path {
                  fill: $orange;
                }
              }
            }
            &_next {
              path {
                fill: $orange;
              }
            }
          }
          &_link {
            &_text {
              p {
                color: #F6AB00;
              }
            }
          }
        }
      }
      &-blue {
        .route {
          &_pin {
            svg {
              path {
                fill: $blue;
              }
            }
          }
          &_feat {
            &_title {
              background-color: $blue;
            }
          }
          &_day {
            &_title {
              color: $blue;
            }
            &_arrow {
              path {
                fill: $blue;
              }
            }
          }
          &_hotel {
            &_title {
              svg {
                path {
                  fill: $blue;
                }
              }
            }
            h4 {
              color: $blue;
            }
          }
          &_place {
            &_arrow,
            &_name {
              background-color: $blue;
            }
            &_text {
              h4 {
                color: $blue;
              }
            }
            &_info {
              svg {
                path {
                  fill: $blue;
                }
              }
            }
            &_next {
              path {
                fill: $blue;
              }
            }
          }
        }
      }
      &-red {
        .route {
          &_place {
            &_next {
              path {
                fill: $red;
              }
            }
          }
        }
      }
      &-marrs {
        .route {
          &_pin {
            svg {
              path {
                fill: $marrs-green;
              }
            }
          }
          &_feat {
            &_title {
              background-color: $marrs-green;
            }
          }
          &_day {
            &_title {
              color: $marrs-green;
            }
            &_arrow {
              path {
                fill: $marrs-green;
              }
            }
          }
          &_hotel {
            &_title {
              svg {
                path {
                  fill: $marrs-green;
                }
              }
            }
            h4 {
              color: $marrs-green;
            }
          }
          &_place {
            &_arrow,
            &_name {
              background-color: $marrs-green;
            }
            &_text {
              h4 {
                color: $marrs-green;
              }
            }
            &_info,
            &_next {
              svg {
                path {
                  fill: $marrs-green;
                }
              }
            }
            &_next {
              path {
                fill: $marrs-green;
              }
            }
          }
        }
        .railway_next {
          path {
            fill: $marrs-green;
          }
        }
      }
    }
    .lantern {
      position: absolute;
      right: 5.73vw;
    }
    &-railway {
      padding-bottom: 0;
    }
  }
  &_feat {
    padding: 225px 0 110px;
    .route_link {
      &_item {
        gap: 40px;
        .route {
          &_pin {
            svg {
              width: 106px;
              height: 174px;
            }
            &_en {
              font-size: 62px;
            }
            &_ch {
              font-size: 29px;
            }
          }
          &_text {
            padding-top: 19px;
          }
        }
        &:hover {
          opacity: 1;
        }
      }
      &_text {
        h5 {
          font-size: 70px;
        }
      }
    }
    &_text {
      padding-left: 60px;
      padding-top: 40px;
      p {
        font-size: 30px;
        color: #252525;
      }
    }
    &_title {
      font-size: 33px;
      font-weight: 700;
      padding: 8px 20px;
      border-radius: 100px;
      color: #fff;
      margin-bottom: 20px;
      width: fit-content;
    }
  }
  &_day {
    margin-bottom: 255px;
    .container {
      padding-left: 105px;
      padding-right: 105px;
    }
    &_title {
      margin-bottom: 110px;
      font-size: 55px;
      font-weight: 700;
    }
    &_arrow {
      width: 16px;
      height: 96px;
      margin: 30px auto 35px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.mainroute {
      .railway_intro {
        color: $red;
      }
    }
    &.branch {
      .railway_intro {
        color: $marrs-green;
      }
    }
  }
  &_hotel {
    width: 50%;
    margin-left: auto;
    &_title {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      gap: 20px;
      h3 {
        font-size: 45px;
        font-weight: 700;
        margin: 0;
      }
      svg {
        width: 83px;
        height: 62px;
      }
    }
    h4 {
      font-size: 35px;
      margin: 0;
      font-weight: 500;
    }
  }
  &_place {
      position: relative;
    .row {
      margin: 0;
      > div {
        padding: 0;
      }
    }
    &_pic {
      padding-right: 30px;
      &_inner {
        position: relative;
        width: 100%;
        padding-bottom: 66.67%;
        margin-bottom: 75px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &_img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
    &_tag {
      position: absolute;
      width: 280px;
      right: 0;
      bottom: 0;
    }
    &_arrow {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      img {
        width: 46px;
      }
    }
    &_text {
      padding-left: 30px;
      h3 {
        font-size: 36px;
        margin-bottom: 33px;
        .sm {
          font-size: 20px;
        }
      }
      h4 {
        font-size: 28px;
        margin-bottom: 44px;
        &.transport-intro {
          font-size: 27px;
          line-height: 1.6;
          .near {
            font-size: 23px;
            color: $gray-2;
            font-weight: normal;
          }
        }
      }
    }
    &_info {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      margin-bottom: 20px;
      svg {
        width: 20px;
        height: 20px;
        margin-top: 5px;
      }
      p {
        font-size: 20px;
        width: calc(100% - 20px - 8px);
      }
    }
    &_next {
      display: block;
      width: 16px;
      height: 96px;
      margin: 30px auto;
      transform: translateX(-15px);
    }
    &_name {
      position: absolute;
      width: 100%;
      padding: 10px 23px;
      color: #fff;
      width: 100%;
      left: 0;
      bottom: 0;
      font-size: 28px;
      margin: 0;
    }
    &_infoname {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    &_infowrap {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &_lantern {
      position: absolute;
      right: 0;
      width: 215px;
      &.lantern {
        &-A {
          bottom: 0;
        }
        &-B {
          top: 0;
        }
      }
    }
    &.railway {
      .route_place {
        &_pic {
          &_inner {
            padding-bottom: 71.67%;
          }
        }
        &_text {
          padding-right: 70px;
          height: 63%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h3 {
            margin: 0;
          }
          .railway {
            &_height {
              color: $gray-2;
              font-size: 25px;
              margin: 0;
            }
            &_intro {
              font-size: 29px;
              font-weight: 500;
              margin: 18px 0 0;
              text-align: justify;
            }
            &_subtitle {
              font-size: 29px;
              margin: 12px 0 0;
            }
          }
          &-wrap {
            display: flex;
            align-items: flex-end;
          }
        }
      }
      &#zhushan {
        margin-bottom: 156px;
      }
    }
    &-manyspots {
      .row {
        margin-bottom: 75px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .route_place_tag {
        bottom: 48.8px;
      }
    }
  }
  @media screen and (max-width: 1700px) {
    &_title {
      img {
        width: 260px;
      }
      h3 {
        font-size: 34px;
      }
    }
    &_text {
      h4 {
        font-size: 26px;
        margin-bottom: 50px;
        max-width: 420px;
        width: fit-content;
        margin: 0 auto 50px;
      }
    }
    &_pic {
      max-width: 450px;
      margin: 0 auto;
      p {
        font-size: 26px;
      }
    }
    &_pin {
      position: relative;
      svg {
        width: 58px;
        height: 95px;
      }
      &_text {
        padding-top: 8px;
        img {
          width: 30px;
        }
      }
      &_en {
        font-size: 32px;
      }
      &_ch {
        font-size: 14px;
      }
    }
    &_link {
      &_item {
        gap: 18px;
        margin-bottom: 40px;
      }
      &_text {
        h5 {
          font-size: 42px;
        }
        p {
          font-size: 18px;
        }
      }
      &_icon {
        img {
          width: 50px;
        }
        h3 {
          font-size: 40px;
        }
      }
      &_pic {
        &.day2 {
          width: 355px;
        }
        &.day3 {
          width: 390px;
        }
      }

    }
    &_feat {
      &_text {
        p {
          font-size: 24px;
        }
      }
      &_title {
        font-size: 28px;
      }
    }
    &_day {
      margin-bottom: 191px;
      &_title {
        font-size: 46px;
      }
    }
    &_hotel {
      &_title {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        gap: 20px;
        h3 {
          font-size: 38px;
        }
        svg {
          width: 74px;
          height: 55px;
        }
      }
      h4 {
        font-size: 28px;
      }
    }
    &_place {
      &_arrow {
        width: 50px;
        height: 50px;
        img {
          width: 36px;
        }
      }
      &_text {
        h3 {
          font-size: 32px;
          margin-bottom: 24px;
          .sm {
            font-size: 18px;
          }
        }
        h4 {
          font-size: 20px;
          margin-bottom: 35px;
          &.transport-intro {
            font-size: 19px;
            .near {
              font-size: 16px;
            }
          }
        }
      }
      &_info {
        margin-bottom: 15px;
        p {
          font-size: 16px;
        }
      }
      &_name {
        font-size: 24px;
      }
      &_infoname {
        font-size: 22px;
      }
      &_lantern {
        width: 150px;
      }
      &.railway {
        .route_place {
          &_text {
            padding-right: 53px;
            .railway {
              &_height {
                font-size: 19px;
              }
              &_intro {
                font-size: 20px;
                margin-top: 14px;
              }
              &_subtitle {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    &-inner {
      .lantern {
        right: 40px;
        img {
          width: 170px;
        }
      }
    }
  }
  @media screen and (max-width: 1199px) {
    &-inner {
      padding-bottom: 0;
      .lantern {
        padding-top: 24vw;
        padding-bottom: 27vw;
        position: static;
        img {
          width: 130px;
          margin: 0 auto;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    &_text {
      margin-bottom: 30px;
      padding: 0 !important;
      &-wrap {
        order: 1 !important;
      }
    }
    &_link {
      padding: 0 !important;
      &-wrap {
        order: 2 !important;
      }
      &_wrapper {
        width: fit-content;
        margin: 0 auto 65px;
      }
      &_pic {
        &.day2 {
          width: 250px;
          margin: 0 auto;
        }
        &.day3 {
          width: 285px;
          margin-left: auto;
          margin-right: 0;
          margin-top: 35px;
        }
        &.railway {
          width: 107px;
          margin: 25px auto 0;
        }
      }
      &_icon {
        gap: 10px;
        img {
          width: 30px;
        }
        h3 {
          font-size: 36px;
        }
      }
    }
    &_item {
      padding-top: 75px;
      margin-bottom: 60px;
      &.railway {
        .route_link {
          max-width: 500px;
          &_item {
            margin-bottom: 16px;
          }
        }
      }
    }
    &_feat {
      padding: 40px 0 50px;
      .route_link {
        &_item {
          flex-direction: column;
          gap: 10px;
          margin: 0 auto 33px;
          .route {
            &_pin {
              svg {
                width: 52px;
                height: 85px;
              }
              &_en {
                font-size: 30px;
              }
              &_ch {
                font-size: 14px;
              }
              &_text {
                padding-top: 10px;
              }
            }
          }
        }
        &_text {
          h5 {
            font-size: 40px;
          }
        }
      }
      &_text {
        padding-left: 0;
        p {
          font-size: 18px;
          max-width: 300px;
          width: 100%;
          margin: 0 auto;
        }
      }
      &_title {
        font-size: 23px;
        margin: 0 auto 17px;
      }
    }
    &_day {
      margin-bottom: 90px;
      &_title {
        margin-bottom: 35px;
        font-size: 25px;
      }
      .container {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    &_hotel {
      margin-top: 30px;
      &_title {
        margin-bottom: 12px;
        gap: 7px;
        h3 {
          font-size: 23px;
        }
        svg {
          width: 33px;
          height: 25px;
        }
      }
      h4 {
        font-size: 18px;
      }
    }
    &_place {
      &_pic {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 24px;
      }
      &_tag {
        width: 50%;
      }
      &_arrow {
        width: 35px;
        height: 35px;
        img {
          width: 27px;
        }
      }
      &_text {
        padding: 0 20px;
        h3 {
          font-size: 23px;
          margin-bottom: 11px;
          .sm {
            font-size: 13px;
          }
        }
        h4 {
          font-size: 18px;
          margin-bottom: 12px;
          &.transport-intro {
            font-size: 17px;
            .near {
              font-size: 14px;
            }
          }
        }
      }
      &_info {
        margin-bottom: 15px;
        svg {
          width: 14px;
          height: 14px;
        }
        p {
          font-size: 16px;
        }
      }
      &_next {
        width: 10px;
        height: 60px;
        margin: 25px auto;
        transform: none;
      }
      &_name {
        font-size: 16px;
        padding: 8px 12px;
      }
      &_infoname {
        font-size: 18px;
        margin-bottom: 14px;
      }
      &_infowrap {
        margin-bottom: 35px;
      }
      &.railway {
        .route_place {
          &_text {
            padding: 0 20px;
            height: auto;
            width: 100%;
            .railway {
              &_height {
                font-size: 16px;
              }
              &_intro {
                font-size: 18px;
                margin-top: 11px;
              }
              &_subtitle {
                font-size: 18px;
              }
            }
          }
        }
        &#zhushan {
          margin-bottom: 60px;
        }
      }
      &-manyspots {
        .row {
          margin-bottom: 0;
        }
        .route_place_infowrap {
          margin-bottom: 35px !important;
        }
        .route_place_tag {
          bottom: 35.2px;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
    &_title {
      margin-bottom: 19px;
      img {
        width: 175px;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 24px;
      }
    }
    &_text {
      margin-bottom: 35px;
      h4 {
        font-size: 18px;
        max-width: 240px;
        margin-bottom: 35px;
      }
    }
    &_pic {
      max-width: 320px;
      margin: 0 auto;
      > img {
        width: 100%;
        margin-bottom: 7px;
      }
      p {
        font-size: 16px;
      }
    }
    &_pin {
      padding-top: 5px;
      svg {
        width: 30px;
        height: 50px;
      }
      &_en {
        font-size: 18px;
        margin-bottom: 0;
      }
      &_ch {
        font-size: 8px;
      }
      &_text {
        padding-top: 10px;
        img {
          width: 16px;
        }
      }
    }
    &_link {
      max-width: 400px;
      margin: 0 auto;
      > .row {
        margin-left: -5px;
        margin-right: -5px;
        > div {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      &_item {
        gap: 7px;
        margin-bottom: 30px;
      }
      &_text {
        h5 {
          font-size: 26px;
          font-weight: 700;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          margin-top: 0;
        }
      }
      &_icon {
        font-size: 28px;
        h3 {
          font-size: 26px;
          font-weight: 700;
        }
      }
    }
  }
  // @media screen and (max-width: 400px) {
  //   &_link {
  //     &_icon {
  //       h3 {
  //         font-size: 24px;
  //       }
  //     }
  //   }
  // }
  @media screen and (max-width: 350px) {
    &_link {
      &_text {
        h5 {
          font-size: 22px;
        }
        p {
          font-size: 10px;
        }
      }
    }
  }
}

.lantern {
  img {
    width: 215px;
  }
  &-home {
    padding: 14vw 0 18vw;
    // position: static !important;
    img {
      margin: 0 auto;
    }
  }
  &-B {
    top: 479.79vw;
  }
  @media screen and (max-width: 575px) {
    padding-top: 24vw;
    padding-bottom: 27vw;
    img {
      width: 130px;
    }
  }
}

.railway {
  &_route {
    margin-bottom: 250px;
    margin-top: 225px;
    padding: 0 20px;
    .container {
      max-width: 1300px;
      position: relative;
      padding: 0;
    }
    &_station {
      position: absolute;
      width: 9.44%;
      cursor: pointer;
      transition: $transition;
      &:hover {
        transform: scale(1.1);
      }
      &.station {
        &-1 {
          left: 30.79%;
          top: 30.2%;
        }
        &-2 {
          left: 30.79%;
          top: 45.89%;
        }
        &-3 {
          left: 30.79%;
          top: 61.74%;
        }
        &-4 {
          left: 36.11%;
          top: 76.07%;
        }
        &-5 {
          left: 23.06%;
          top: 88.17%;
        }
        &-6 {
          left: 48.84%;
          top: 88.17%;
        }
        &-7 {
          left: 76.96%;
          top: 88.17%;
        }
      }
    }
  }
  &_title {
    width: 150px;
    margin: 0 auto 43px;
    display: block;
  }
  &_name {
    text-align: center;
    font-size: 41px;
    color: $not-just-black;
    font-weight: 700;
    margin-bottom: 5px;
    &-intro {
      text-align: center;
      color: #B4B4B4;
      font-size: 25px;
      margin: 0;
    }
  }
  &_station {
    margin-bottom: 43px;
  }
  &_next {
    display: block;
    width: 16px;
    height: 96px;
    margin: 0 auto 43px;
    path {
      fill: $red;
    }
  }
  &_train {
    margin-top: 180px;
    padding-top: 186px;
    padding-bottom: 47.71vw;
    background-color: rgba(230, 228, 0, 0.05);
    .row {
      margin-left: -41px;
      margin-right: -41px;
      >div {
        padding-left: 41px;
        padding-right: 41px;
      }
    }
    &_pic {
      width: 252px;
      height: 252px;
      border-radius: 50%;
      position: relative;
      box-shadow: 80px 0 0 $marrs-green;
      margin: 0 auto 49px;
      transform: translateX(-40px);
      >img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }
    &_item {
      h2 {
        font-size: 39px;
        text-align: center;
        color: $not-just-black;
        font-weight: 700;
        margin-bottom: 34px;
      }
    }
    &_info {
      a {
        padding: 10px 34px;
        width: fit-content;
        margin: 0 auto 34px;
        border-radius: 100px;
        background-color: $marrs-green;
        font-size: 34px;
        font-weight: 500;
        color: #fff;
        &:hover {
          opacity: 0.5;
        }
      }
      ul {
        li {
          font-size: 31px;
          font-weight: 500;
          margin-bottom: 10px;
          text-align: justify;
          &:last-child {
            margin-bottom: 0;
          }
          &.highlight {
            color: $marrs-green;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1700px) {
    &_route {
      margin-bottom: 188px;
      margin-top: 169px;
    }
    &_title {
      width: 113px;
      margin-bottom: 32px;
    }
    &_name {
      font-size: 31px;
      &-intro {
        font-size: 19px;
      }
    }
    &_station {
      margin-bottom: 32px;
    }
    &_next {
      width: 12px;
      height: 72px;
      margin-bottom: 32px;
    }
    &_train {
      margin-top: 135px;
      padding-top: 140px;
      .row {
        margin-left: -31px;
        margin-right: -31px;
        >div {
          padding-left: 31px;
          padding-right: 31px;
        }
      }
      &_pic {
        width: 189px;
        height: 189px;
        box-shadow: 60px 0 0 $marrs-green;
        margin-bottom: 38px;
        transform: translateX(-30px);
      }
      &_item {
        h2 {
          font-size: 26px;
          margin-bottom: 34px;
        }
      }
      &_info {
        a {
          padding: 8px 26px;
          margin-bottom: 26px;
          font-size: 26px;
        }
        ul {
          li {
            font-size: 21px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1199px) {
    &_train {
      padding-bottom: 0;
    }
  }
  @media screen and (max-width: 991px) {
    &_train {
      &_item {
        margin-bottom: 80px;
      }
      &_info {
        width: fit-content;
        margin: 0 auto;
      }
      .row {
        margin: 0;
        >div {
          padding: 0 45px;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    &_route {
      margin-top: 40px;
      margin-bottom: 90px;
      padding: 0 7vw;
      &_station {
        width: 16.18%;
        &.station {
          &-1 {
            left: 36.76%;
            top: 26.3%;
          }
          &-2 {
            left: 36.76%;
            top: 42.21%;
          }
          &-3 {
            left: 36.76%;
            top: 58.3%;
          }
          &-4 {
            left: 45.88%;
            top: 72.84%;
          }
          &-5 {
            left: 23.53%;
            top: 85.12%;
          }
          &-6 {
            left: 45%;
            top: 85.12%;
          }
          &-7 {
            left: 78.82%;
            top: 85.12%;
          }
        }

      }
    }
    &_title {
      width: 55px;
      margin-bottom: 23px;
    }
    &_name {
      font-size: 23px;
    }
    &_next {
      width: 10px;
      height: 60px;
      margin-bottom: 23px;
    }
    &_train {
      margin-top: 77px;
      padding-top: 68px;
      &_pic {
        width: 150px;
        height: 150px;
        box-shadow: 48px 0 0 $marrs-green;
        margin-bottom: 29px;
        transform: translateX(-24px);
      }
      &_item {
        h2 {
          font-size: 23px;
          margin-bottom: 20px;
        }
      }
      &_info {
        a {
          padding: 5px 20px;
          margin-bottom: 20px;
          font-size: 20px;
        }
        ul {
          li {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.mb-41 {
  margin-bottom: 41px;
}

.traffic {
  &-way {
    margin-top: 225px;
    margin-bottom: 250px;
    &_item {
      margin-bottom: 145px;
      display: flex;
      align-items: flex-start;
      gap: 105px;
    }
    &_transform {
      display: flex;
      align-items: center;
      gap: 32px;
      width: 300px;
      >img {
        width: 176px;
      }
    }
    &_arrow {
      width: 92px;
      height: 92px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #76A035;
      img {
        width: 76%;
      }
    }
    &_text {
      font-size: px;
      margin: 0;
      color: $not-just-black;
      width: calc(100% - 300px - 105px);
      text-align: justify;
      font-size: 30px;
    }
  }
  &-info {
    &_item {
      margin-bottom: 145px;
      h2 {
        font-size: 40px;
        a {
          margin-bottom: 16px;
          color: $green;
          font-weight: 700;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      ul {
        li {
          margin-bottom: 20px;
          display: flex;
          gap: 11px;
          svg {
            width: 30px;
            height: 30px;
            margin-top: 7px;
            path {
              fill: $green
            }
          }
          p {
            font-size: 31px;
            color: $not-just-black;
            margin: 0;
            width: calc(100% - 30px - 11px);
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1700px) {
    &-way {
      margin-top: 169px;
      margin-bottom: 188px;
      &_item {
        margin-bottom: 109px;
        gap: 79px;
      }
      &_transform {
        gap: 24px;
        width: 225px;
        >img {
          width: 132px;
        }
      }
      &_arrow {
        width: 69px;
        height: 69px;
      }
      &_text {
        font-size: 23px;
        width: calc(100% - 225px - 79px);
      }
    }
    &-info {
      &_item {
        margin-bottom: 109px;
        h2 {
          font-size: 30px;
          margin-bottom: 12px;
        }
        ul {
          li {
            margin-bottom: 15px;
            gap: 8px;
            svg {
              width: 23px;
              height: 23px;
              margin-top: 5px;
            }
            p {
              font-size: 23px;
              width: calc(100% - 23px - 8px);
            }
          }
        }
      }
    }
    
  }
  @media screen and (max-width: 991px) {
    &-way {
      &_item {
        display: block;
      }
      &_transform {
        margin-bottom: 26px;
        width: 100%;
      }
      &_text {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &-way {
      margin-top: 41px;
      margin-bottom: 104px;
      &_item {
        margin-bottom: 60px;
      }
      &_transform {
        gap: 14px;
        >img {
          width: 76px;
        }
      }
      &_arrow {
        width: 40px;
        height: 40px;
      }
      &_text {
        font-size: 18px;
      }
    }
    &-info {
      &_item {
        margin-bottom: 65px;
        h2 {
          font-size: 23px;
          margin-bottom: 8px;
        }
        ul {
          li {
            margin-bottom: 16px;
            gap: 6px;
            svg {
              width: 17px;
              height: 17px;
              margin-top: 5px;
            }
            p {
              font-size: 18px;
              width: calc(100% - 17px - 6px);
            }
          }
        }
      }
    }
  }
}


