@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@font-face {
  font-family: ChenYuluoyan;
  src: url(../font/ChenYuluoyan-2.0-Thin.woff) format("woff"), url(../font/ChenYuluoyan-2.0-Thin.otf) format("opentype");
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #4b4b4b;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #4b4b4b;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0;
}

input,
button {
  outline: none;
  background-color: transparent;
  border: 0;
}

.container {
  max-width: 1770px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 1900px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    padding-left: 26px;
    padding-right: 26px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  height: 140px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  left: 0;
  bottom: 0;
}

.header.border-orange::after {
  background-color: #f6ab00;
}

.header.border-green::after {
  background-color: #e6e400;
}

.header.border-yellow::after {
  background-color: #FDD23F;
}

.header.border-blue::after {
  background-color: #82d0f5;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header_logo {
  width: 250px;
}

.header_main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header_nav_second {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
}

.header_nav_second a {
  padding: 10px;
  border-bottom: 0.5px solid #fbf1db;
  text-align: center;
  font-size: 20px;
}

.header_nav_item {
  position: relative;
  height: 100%;
}

.header_nav_item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 40px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

.header_nav_item > a span {
  display: block;
  position: relative;
}

.header_nav_item > a span svg {
  width: 23px;
  height: 9px;
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header_nav_item.color-orange > a span {
  color: #f6ab00;
}

.header_nav_item.color-orange > a span svg path {
  fill: #f6ab00;
}

.header_nav_item.color-orange .header_nav_second a {
  color: #f6ab00;
  border-color: #fbf1db;
}

.header_nav_item.color-orange .header_nav_second a:hover {
  background-color: #fbf1db;
}

.header_nav_item.color-orange:hover > a, .header_nav_item.color-orange.active > a {
  background-color: #f6ab00;
}

.header_nav_item.color-blue > a span {
  color: #0ca7f1;
}

.header_nav_item.color-blue > a span svg path {
  fill: #0ca7f1;
}

.header_nav_item.color-blue .header_nav_second a {
  color: #0ca7f1;
  border-color: #d3ecf8;
}

.header_nav_item.color-blue .header_nav_second a:hover {
  background-color: #d3ecf8;
}

.header_nav_item.color-blue:hover > a, .header_nav_item.color-blue.active > a {
  background-color: #0ca7f1;
}

.header_nav_item.color-green > a span {
  color: #abcd03;
}

.header_nav_item.color-green > a span svg path {
  fill: #abcd03;
}

.header_nav_item.color-green .header_nav_second a {
  color: #abcd03;
  border-color: #e9fbd6;
}

.header_nav_item.color-green .header_nav_second a:hover {
  background-color: #e9fbd6;
}

.header_nav_item.color-green:hover > a, .header_nav_item.color-green.active > a {
  background-color: #abcd03;
}

.header_nav_item.color-marrs > a span {
  color: #009683;
}

.header_nav_item.color-marrs > a span svg path {
  fill: #009683;
}

.header_nav_item.color-marrs .header_nav_second a {
  color: #009683;
  border-color: #9ef1e6;
}

.header_nav_item.color-marrs .header_nav_second a:hover {
  background-color: #9ef1e6;
}

.header_nav_item.color-marrs:hover > a, .header_nav_item.color-marrs.active > a {
  background-color: #009683;
}

.header_nav_item.has-child:hover > a span {
  color: #ffffff;
}

.header_nav_item.has-child:hover > a span svg path {
  fill: #ffffff;
}

.header_nav_item.has-child:hover .header_nav_second {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  visibility: visible;
}

.header_nav_item.active > a span {
  color: #ffffff;
}

.header_nav_item.active > a span svg path {
  fill: #ffffff;
}

.header_nav_item:not(.has-child).active a, .header_nav_item:not(.has-child):hover a {
  color: #d9d9d9;
}

.header_lang {
  margin-left: 20px;
  margin-right: 55px;
  position: relative;
}

.header_lang_title {
  width: 145px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.header_lang ul {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  z-index: 10;
  display: none;
}

.header_lang ul a {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.header_lang ul a.active {
  color: rgba(75, 75, 75, 0.4);
  background-color: #d3d3d3;
}

.header_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 12px;
  border-radius: 100px;
  background-color: #f8f8f8;
  width: 175px;
}

.header_search input {
  width: calc(100% - 16px);
  padding-right: 10px;
  font-size: 13px;
}

.header_search input::-webkit-input-placeholder {
  color: #aeaeae;
}

.header_search input:-ms-input-placeholder {
  color: #aeaeae;
}

.header_search input::-ms-input-placeholder {
  color: #aeaeae;
}

.header_search input::placeholder {
  color: #aeaeae;
}

.header_search button {
  padding: 0;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_top {
  position: absolute;
  width: 47px;
  padding: 0;
  top: 50%;
  right: 37px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_menu {
  height: 100%;
  padding: 0;
  position: relative;
  width: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_menu_inner {
  width: 19px;
  height: 16px;
  position: relative;
}

.header_menu .bar {
  width: 100%;
  height: 1px;
  background-color: #4b4b4b;
  left: 0;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_menu .bar-top {
  top: 0;
}

.header_menu .bar-middle {
  top: 50%;
}

.header_menu .bar-bottom {
  top: calc(100% - 1px);
}

.header_menu.active .bar {
  top: 50%;
  left: 50%;
}

.header_menu.active .bar-top, .header_menu.active .bar-middle {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header_menu.active .bar-bottom {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 1900px) {
  .header {
    height: 95px;
  }
  .header_nav_item > a {
    font-size: 16px;
    padding: 0 20px;
  }
  .header_nav_second a {
    font-size: 16px;
  }
  .header_lang {
    margin-left: 0;
    margin-right: 20px;
  }
  .header_lang_title {
    width: 130px;
  }
  .header_logo {
    width: 180px;
  }
  .header_lang_title {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  .header_top {
    right: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    height: 73px;
  }
  .header .container {
    padding-right: 0;
  }
  .header::after {
    height: 2px;
  }
  .header_nav {
    position: fixed;
    width: 180px;
    display: block;
    top: 73px;
    right: 0;
    height: auto;
    max-height: calc(100vh - 73px);
    overflow-y: auto;
    display: none;
    background-color: #ffffff;
  }
  .header_nav_first {
    display: block;
    height: auto;
  }
  .header_nav_second {
    position: static;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
            transform: none;
    display: none;
  }
  .header_nav_item {
    height: auto;
  }
  .header_nav_item > a {
    padding: 14px 10px;
    border-bottom: 0.5px solid #d9d9d9;
    font-size: 16px;
  }
  .header_nav_item > a span svg {
    display: none;
  }
  .header_nav_item > a.active span {
    color: #ffffff;
  }
  .header_nav_item.color-orange > a.active {
    background-color: #f6ab00;
  }
  .header_nav_item.color-blue > a.active {
    background-color: #0ca7f1;
  }
  .header_nav_item.color-green > a.active {
    background-color: #abcd03;
  }
  .header_nav_item.color-marrs > a.active {
    background-color: #009683;
  }
  .header_lang {
    margin: 0;
  }
  .header_lang_title {
    width: 100%;
    padding: 14px 10px;
  }
  .header_lang ul {
    position: static;
  }
}

@media screen and (max-width: 575px) {
  .header .container {
    padding-right: 0;
  }
  .header_logo {
    width: 150px;
  }
  .header_search {
    width: 100px;
    padding: 5px 8px;
  }
  .header_search input::-webkit-input-placeholder {
    opacity: 0;
  }
  .header_search input:-ms-input-placeholder {
    opacity: 0;
  }
  .header_search input::-ms-input-placeholder {
    opacity: 0;
  }
  .header_search input::placeholder {
    opacity: 0;
  }
}

@media screen and (max-width: 370px) {
  .header_logo {
    width: 120px;
  }
  .header_search {
    width: 80px;
  }
}

.main {
  padding-top: 140px;
  background-image: url(../img/bg.svg);
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1900px) {
  .main {
    padding-top: 95px;
  }
}

@media screen and (max-width: 1199px) {
  .main {
    padding-top: 73px;
  }
}

.footer_top {
  background-color: #e6e400;
  padding: 50px 0 45px;
}

.footer_top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_logo {
  width: 335px;
  margin-bottom: 45px;
}

.footer_line p {
  font-size: 20px;
  margin-bottom: 35px;
}

.footer_line a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  color: #abcd03;
}

.footer_info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer_info h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 23px;
}

.footer_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer_info_item:hover {
  opacity: 0.7;
}

.footer_info_item:hover span {
  color: #4b4b4b;
}

.footer_info_item.phone svg {
  width: 17px;
  height: 17px;
}

.footer_info_item.phone.icon-white svg path {
  fill: #ffffff;
}

.footer_info_item.media img {
  width: 28px;
}

.footer_info_item.lantern img {
  width: 23px;
}

.footer_info_item.lantern span {
  font-size: 18px;
}

.footer_info_item span {
  font-size: 20px;
}

.footer_event_pic {
  width: 240px;
  margin-bottom: 20px;
}

.footer_event_duration {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer_bottom {
  padding: 10px 0;
  background-color: #f8f7c6;
}

.footer_bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_bottom_logo {
  width: 284px;
}

.footer_copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}

.footer_copyright p {
  font-size: 20px;
}

@media screen and (max-width: 1700px) {
  .footer_top {
    padding-top: 38px;
    padding-bottom: 34px;
  }
  .footer_logo {
    width: 250px;
    margin-bottom: 34px;
  }
  .footer_line p {
    font-size: 15px;
    margin-bottom: 26px;
  }
  .footer_line a {
    width: 70px;
    height: 70px;
    font-size: 12px;
  }
  .footer_info h3 {
    font-size: 21px;
    margin-bottom: 17px;
  }
  .footer_info_item {
    margin-bottom: 17px;
    gap: 8px;
  }
  .footer_info_item span {
    font-size: 15px;
  }
  .footer_info_item.phone svg {
    width: 13px;
    height: 13px;
  }
  .footer_info_item.media img {
    width: 21px;
  }
  .footer_info_item.lantern img {
    width: 17px;
  }
  .footer_info_item.lantern span {
    font-size: 14px;
  }
  .footer_event_pic {
    width: 180px;
    margin-bottom: 15px;
  }
  .footer_event_duration {
    font-size: 17px;
    margin-bottom: 23px;
  }
  .footer_copyright p {
    font-size: 15px;
  }
  .footer_bottom {
    padding: 8px 0;
  }
  .footer_bottom_logo {
    width: 213px;
  }
}

@media screen and (max-width: 1199px) {
  .footer_top .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .footer_event_pic {
    margin: 0;
  }
  .footer_event_duration {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .footer_bottom {
    padding: 23px 0;
  }
  .footer_bottom .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 18px;
  }
  .footer_copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 7px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer_copyright p.footer_copyright_name {
    font-size: 15px;
  }
  .footer_copyright p.footer_copyright_content {
    font-size: 12px;
  }
}

@media screen and (max-width: 575px) {
  .footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer_logo {
    width: 225px;
    margin-bottom: 40px;
  }
  .footer_line p {
    font-size: 15px;
    margin-bottom: 27px;
  }
  .footer_line a {
    width: 60px;
    height: 60px;
  }
  .footer_info h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .footer_info_item {
    margin-bottom: 16px;
    padding: 0 !important;
  }
  .footer_info_item.phone {
    width: 50%;
  }
  .footer_info_item.media img {
    width: 53px;
  }
  .footer_info_item.media span {
    display: none;
  }
  .footer_info_item.lantern span {
    font-size: 15px;
  }
  .footer_event_pic {
    width: 160px;
  }
  .footer_event_duration {
    font-size: 15px;
  }
}

.banner {
  position: relative;
  width: 100%;
  padding-bottom: 46.09%;
}

.banner > img {
  position: absolute;
}

.banner_title {
  position: absolute;
  top: 3.07vw;
  left: calc((100vw - 1770px) / 2 + 100px);
}

.banner-home {
  background-color: #f8f8f8;
}

.banner-home .banner_title {
  width: 36.15vw;
}

.banner-1day {
  background-color: #f6ab00;
}

.banner-2day {
  background-color: #0ca7f1;
}

.banner-3day {
  background-color: #abcd03;
}

.banner-railway {
  background-color: #009683;
}

.banner-railway.banner-inner .banner_title img {
  width: 24vw;
  margin-bottom: 40px;
}

.banner-traffic {
  background-color: #e6e400;
}

.banner-traffic.banner-inner .banner_title img {
  width: 15vw;
  margin-bottom: 65px;
}

.banner-traffic.banner-inner .banner_title h1 {
  color: #4b4b4b;
}

.banner-inner .banner_title img {
  width: 31.09vw;
  margin-bottom: 48px;
}

.banner-inner .banner_title h1 {
  color: #fff;
  font-size: 40px;
  margin: 0;
  font-weight: 500;
}

.banner_shape {
  width: 36.91vw;
  right: 12.05vw;
  top: 1.95vw;
}

.banner_circle {
  width: 26.41vw;
  top: 1.25vw;
  right: 4.11vw;
}

.banner_mountain {
  width: 100%;
  left: 0;
  bottom: 0;
}

.banner_graphic {
  width: 41.77%;
  right: 0;
  bottom: 0;
}

.banner_en {
  width: 4.06%;
  right: 2.66vw;
  bottom: 6.5vw;
}

.banner_train {
  position: absolute;
  width: 25.9vw;
  top: 6.15vw;
  right: 6.41vw;
}

@media screen and (max-width: 1970px) {
  .banner_title {
    left: 100px;
  }
}

@media screen and (max-width: 1600px) {
  .banner-inner .banner_title h1 {
    font-size: 29px;
  }
}

@media screen and (max-width: 1300px) {
  .banner_title {
    left: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .banner_title {
    left: 26px;
  }
  .banner-inner .banner_title h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 991px) {
  .banner-inner .banner_title img {
    margin-bottom: 20px;
  }
  .banner-inner .banner_title h1 {
    font-size: 19px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    padding-bottom: 105.13%;
  }
  .banner-home .banner_title {
    width: 46.84vw;
    top: 6.92vw;
  }
  .banner-inner .banner_title {
    top: 5.9vw;
    width: calc((100vw - 52px) / 2);
  }
  .banner-inner .banner_title img {
    width: 47.82vw;
    margin-bottom: 8px;
  }
  .banner-inner .banner_title h1 {
    font-size: 12px;
  }
  .banner_shape {
    width: 67.95vw;
    right: 10.51vw;
    top: 16.15vw;
  }
  .banner_circle {
    width: 37.51vw;
    top: 14.36vw;
    right: 1.14vw;
  }
  .banner_graphic {
    width: 70.18%;
  }
  .banner_en {
    width: 6.78%;
    right: 26px;
    bottom: 3.96vw;
  }
  .banner-railway.banner-inner .banner_title img {
    width: 23vw;
    margin-bottom: 14px;
  }
  .banner-traffic.banner-inner .banner_title img {
    width: 22vw;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 575px) {
  .banner_title {
    left: 15px;
  }
}

.explore {
  padding: 200px 0;
}

.explore_title {
  max-width: 985px;
  margin: 0 auto 150px;
  width: 100%;
}

.explore .row {
  margin: 0;
}

.explore .row > div {
  padding: 0;
}

.explore_text p {
  font-size: 35px;
  color: #252525;
  text-align: justify;
}

.explore_pic {
  padding-left: 180px;
}

.explore_pic img {
  margin: 0 auto;
}

.explore_route {
  padding-bottom: 30px;
}

.explore_route h2 {
  text-align: center;
  color: #f6ab00;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
}

.explore_route a {
  width: 226px;
  margin: 0 auto 40px;
  padding: 0;
  display: block;
}

.explore_route a img {
  width: 100%;
}

@media screen and (max-width: 1700px) {
  .explore_text p {
    font-size: 26px;
  }
}

@media screen and (max-width: 1199px) {
  .explore_title {
    max-width: 600px;
    margin-bottom: 75px;
  }
  .explore_text p {
    font-size: 24px;
  }
  .explore_pic {
    padding-left: 100px;
  }
}

@media screen and (max-width: 991px) {
  .explore_pic {
    padding-left: 0;
    margin-top: 100px;
  }
}

@media screen and (max-width: 575px) {
  .explore {
    padding: 40px 0 80px;
  }
  .explore_title {
    margin-bottom: 50px;
  }
  .explore_pic {
    max-width: 240px;
    margin: 65px auto 0;
  }
  .explore_text p {
    font-size: 20px;
  }
}

.spotlight {
  margin-bottom: 95px;
}

.spotlight_title {
  width: 580px;
  margin-bottom: 110px;
}

.spotlight_content {
  max-width: 1285px;
  width: 100%;
  margin: 0 auto;
}

.spotlight .row {
  margin-left: -50px;
  margin-right: -50px;
}

.spotlight .row > div {
  padding-left: 50px;
  padding-right: 50px;
}

.spotlight .row > div:first-child, .spotlight .row > div:nth-child(2), .spotlight .row > div:nth-child(3) {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.spotlight .row > div:last-child, .spotlight .row > div:nth-child(4), .spotlight .row > div:nth-child(5) {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.spotlight_item {
  margin-bottom: 75px;
}

.spotlight_item h2 {
  font-size: 35px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.spotlight_pic {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 25px;
  -webkit-box-shadow: 85px 0 0 #d9d9d9;
          box-shadow: 85px 0 0 #d9d9d9;
  -webkit-transform: translateX(-42.5px);
          transform: translateX(-42.5px);
}

.spotlight_pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1600px) {
  .spotlight_content {
    max-width: inherit;
    padding: 0 80px;
  }
  .spotlight .row > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  .spotlight .row > div:first-child, .spotlight .row > div:nth-child(2), .spotlight .row > div:nth-child(3) {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  .spotlight .row > div:last-child, .spotlight .row > div:nth-child(4), .spotlight .row > div:nth-child(5) {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  .spotlight_pic {
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 40px 0 0 #d9d9d9;
            box-shadow: 40px 0 0 #d9d9d9;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .spotlight_item h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 991px) {
  .spotlight .row > div:nth-child(odd) {
    -webkit-transform: none !important;
            transform: none !important;
  }
  .spotlight .row > div:nth-child(even) {
    -webkit-transform: translateY(40px) !important;
            transform: translateY(40px) !important;
  }
  .spotlight_item {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 767px) {
  .spotlight {
    margin-bottom: 130px;
  }
  .spotlight_title {
    max-width: 280px;
    margin: 0 auto 50px;
  }
  .spotlight_content {
    padding: 0;
    max-width: 350px;
  }
  .spotlight .row {
    margin-left: -25px;
    margin-right: -25px;
  }
  .spotlight .row > div {
    padding-left: 25px;
    padding-right: 25px;
  }
  .spotlight_pic {
    width: 90px;
    height: 90px;
    -webkit-box-shadow: 30px 0 0 #d9d9d9;
            box-shadow: 30px 0 0 #d9d9d9;
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
    margin-bottom: 8px;
  }
  .spotlight_item h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 370px) {
  .spotlight_title {
    max-width: inherit;
    width: 100%;
  }
  .spotlight .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .spotlight .row > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.route h2 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 75px;
  color: #f6ab00;
}

.route_item {
  max-width: 1400px;
  width: 100%;
  padding-top: 140px;
  margin: 0 auto 210px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.route_item > .row {
  margin: 0;
}

.route_item > .row > div {
  padding: 0;
}

.route_item.color-orange .route_title h3 {
  color: #f6ab00;
}

.route_item.color-orange .route_link_text p {
  color: #f6ab00;
}

.route_item.color-orange .route_pin svg path {
  fill: #f6ab00;
}

.route_item.color-blue .route_title h3 {
  color: #0ca7f1;
}

.route_item.color-blue .route_link_text p {
  color: #0ca7f1;
}

.route_item.color-blue .route_pin svg path {
  fill: #0ca7f1;
}

.route_item.color-green .route_title h3 {
  color: #abcd03;
}

.route_item.color-green .route_link_text p {
  color: #abcd03;
}

.route_item.color-green .route_pin svg path {
  fill: #abcd03;
}

.route_item.color-marrs .route_title h3 {
  color: #009683;
}

.route_item.color-marrs .route_link_text p {
  color: #009683;
}

.route_item.color-marrs .route_pin svg path {
  fill: #009683;
}

.route_item.link-right .route_text {
  padding-right: 65px;
}

.route_item.link-right .route_link {
  padding-left: 90px;
}

.route_item.link-left .route_link {
  padding-right: 90px;
}

.route_item.link-left .route_text {
  padding-left: 60px;
}

.route_item.link-left .route_text-wrap {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.route_item.link-left .route_link-wrap {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.route_item:last-child {
  margin-bottom: 0;
}

.route_title {
  margin-bottom: 34px;
}

.route_title img {
  width: 350px;
  margin: 0 auto 18px;
}

.route_title h3 {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
}

.route_text h4 {
  max-width: 520px;
  margin: 0 auto 65px;
  font-weight: normal;
  color: #252525;
  font-size: 35px;
  text-align: justify;
}

.route_pic img {
  width: 100%;
  margin-bottom: 18px;
}

.route_pic p {
  font-size: 35px;
  font-weight: 500;
  color: #252525;
}

.route_link_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
  margin-bottom: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.route_link_item:hover {
  opacity: 0.3;
}

.route_link_text h5 {
  font-family: "ChenYuluoyan", "Noto Sans TC";
  font-size: 48px;
  margin-bottom: 0;
}

.route_link_text p {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.08em;
  margin-top: 5px;
}

.route_link_pic.day1 {
  width: 254px;
  margin-left: auto;
}

.route_link_pic.day2 {
  width: 473px;
  margin-left: auto;
  margin-top: 55px;
}

.route_link_pic.day3 {
  width: 660px;
  margin: 165px auto 0;
}

.route_link_pic.railway {
  margin: 85px 0 80px 80px;
}

.route_link_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.route_link_icon img {
  width: 70px;
}

.route_link_icon h3 {
  font-family: "ChenYuluoyan", "Noto Sans TC";
  margin: 0;
  font-size: 48px;
}

.route_link_wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.route_pin {
  position: relative;
}

.route_pin svg {
  width: 68px;
  height: 111px;
}

.route_pin_text {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 10px;
}

.route_pin_text p {
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
}

.route_pin_text img {
  width: 40px;
  margin: 0 auto;
}

.route_pin_en {
  font-size: 39px;
  margin-bottom: 4px;
}

.route_pin_ch {
  font-size: 18px;
  margin: 0;
}

.route-inner {
  padding-bottom: 47.71vw;
}

.route-inner.color-green .route_pin svg path {
  fill: #abcd03;
}

.route-inner.color-green .route_feat_title {
  background-color: #abcd03;
}

.route-inner.color-green .route_day_title {
  color: #abcd03;
}

.route-inner.color-green .route_day_arrow path {
  fill: #abcd03;
}

.route-inner.color-green .route_hotel_title svg path {
  fill: #abcd03;
}

.route-inner.color-green .route_hotel h4 {
  color: #abcd03;
}

.route-inner.color-green .route_place_arrow, .route-inner.color-green .route_place_name {
  background-color: #abcd03;
}

.route-inner.color-green .route_place_text h4 {
  color: #abcd03;
}

.route-inner.color-green .route_place_info svg path, .route-inner.color-green .route_place_next svg path {
  fill: #abcd03;
}

.route-inner.color-green .railway_next path {
  fill: #abcd03;
}

.route-inner.color-yellow .route_pin svg path {
  fill: #f6ab00;
}

.route-inner.color-yellow .route_feat_title {
  background-color: #f6ab00;
}

.route-inner.color-yellow .route_day_title {
  color: #f6ab00;
}

.route-inner.color-yellow .route_day_arrow path {
  fill: #f6ab00;
}

.route-inner.color-yellow .route_hotel_title svg path {
  fill: #f6ab00;
}

.route-inner.color-yellow .route_hotel h4 {
  color: #f6ab00;
}

.route-inner.color-yellow .route_place_arrow, .route-inner.color-yellow .route_place_name {
  background-color: #f6ab00;
}

.route-inner.color-yellow .route_place_text h4 {
  color: #f6ab00;
}

.route-inner.color-yellow .route_place_info svg path {
  fill: #f6ab00;
}

.route-inner.color-yellow .route_place_next path {
  fill: #f6ab00;
}

.route-inner.color-yellow .route_link_text p {
  color: #F6AB00;
}

.route-inner.color-blue .route_pin svg path {
  fill: #0ca7f1;
}

.route-inner.color-blue .route_feat_title {
  background-color: #0ca7f1;
}

.route-inner.color-blue .route_day_title {
  color: #0ca7f1;
}

.route-inner.color-blue .route_day_arrow path {
  fill: #0ca7f1;
}

.route-inner.color-blue .route_hotel_title svg path {
  fill: #0ca7f1;
}

.route-inner.color-blue .route_hotel h4 {
  color: #0ca7f1;
}

.route-inner.color-blue .route_place_arrow, .route-inner.color-blue .route_place_name {
  background-color: #0ca7f1;
}

.route-inner.color-blue .route_place_text h4 {
  color: #0ca7f1;
}

.route-inner.color-blue .route_place_info svg path {
  fill: #0ca7f1;
}

.route-inner.color-blue .route_place_next path {
  fill: #0ca7f1;
}

.route-inner.color-red .route_place_next path {
  fill: #D06C15;
}

.route-inner .lantern {
  position: absolute;
  right: 5.73vw;
}

.route-inner-railway {
  padding-bottom: 0;
}

.route_feat {
  padding: 225px 0 110px;
}

.route_feat .route_link_item {
  gap: 40px;
}

.route_feat .route_link_item .route_pin svg {
  width: 106px;
  height: 174px;
}

.route_feat .route_link_item .route_pin_en {
  font-size: 62px;
}

.route_feat .route_link_item .route_pin_ch {
  font-size: 29px;
}

.route_feat .route_link_item .route_text {
  padding-top: 19px;
}

.route_feat .route_link_item:hover {
  opacity: 1;
}

.route_feat .route_link_text h5 {
  font-size: 70px;
}

.route_feat_text {
  padding-left: 60px;
}

.route_feat_text p {
  font-size: 30px;
  color: #252525;
}

.route_feat_title {
  font-size: 33px;
  font-weight: 700;
  padding: 8px 20px;
  border-radius: 100px;
  color: #fff;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.route_day {
  margin-bottom: 255px;
}

.route_day .container {
  padding-left: 105px;
  padding-right: 105px;
}

.route_day_title {
  margin-bottom: 110px;
  font-size: 55px;
  font-weight: 700;
}

.route_day_arrow {
  width: 16px;
  height: 96px;
  margin: 30px auto 35px;
}

.route_day:last-child {
  margin-bottom: 0;
}

.route_day.mainroute .railway_intro {
  color: #D06C15;
}

.route_day.branch .railway_intro {
  color: #009683;
}

.route_hotel {
  width: 50%;
  margin-left: auto;
}

.route_hotel_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  gap: 20px;
}

.route_hotel_title h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}

.route_hotel_title svg {
  width: 83px;
  height: 62px;
}

.route_hotel h4 {
  font-size: 35px;
  margin: 0;
  font-weight: 500;
}

.route_place {
  position: relative;
}

.route_place .row {
  margin: 0;
}

.route_place .row > div {
  padding: 0;
}

.route_place_pic {
  padding-right: 30px;
}

.route_place_pic_inner {
  position: relative;
  width: 100%;
  padding-bottom: 66.67%;
  margin-bottom: 75px;
}

.route_place_pic_inner:last-child {
  margin-bottom: 0;
}

.route_place_img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.route_place_tag {
  position: absolute;
  width: 280px;
  right: 0;
  bottom: 0;
}

.route_place_arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.route_place_arrow img {
  width: 46px;
}

.route_place_text {
  padding-left: 30px;
}

.route_place_text h3 {
  font-size: 36px;
  margin-bottom: 33px;
}

.route_place_text h4 {
  font-size: 28px;
  margin-bottom: 44px;
}

.route_place_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
  margin-bottom: 20px;
}

.route_place_info svg {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.route_place_info p {
  font-size: 20px;
  width: calc(100% - 20px - 8px);
}

.route_place_next {
  display: block;
  width: 16px;
  height: 96px;
  margin: 30px auto;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.route_place_name {
  position: absolute;
  width: 100%;
  padding: 10px 23px;
  color: #fff;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 28px;
  margin: 0;
}

.route_place_infoname {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.route_place_infowrap {
  margin-bottom: 50px;
}

.route_place_infowrap:last-child {
  margin-bottom: 0;
}

.route_place_lantern {
  position: absolute;
  right: 0;
  width: 215px;
}

.route_place_lantern.lantern-A {
  bottom: 0;
}

.route_place_lantern.lantern-B {
  top: 0;
}

.route_place.railway .route_place_pic_inner {
  padding-bottom: 71.67%;
}

.route_place.railway .route_place_text {
  padding-right: 70px;
  height: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.route_place.railway .route_place_text h3 {
  margin: 0;
}

.route_place.railway .route_place_text .railway_height {
  color: #B4B4B4;
  font-size: 25px;
  margin: 0;
}

.route_place.railway .route_place_text .railway_intro {
  font-size: 29px;
  font-weight: 500;
  margin: 18px 0 0;
  text-align: justify;
}

.route_place.railway .route_place_text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.route_place-manyspots .row {
  margin-bottom: 75px;
}

.route_place-manyspots .row:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1700px) {
  .route_title img {
    width: 260px;
  }
  .route_title h3 {
    font-size: 34px;
  }
  .route_text h4 {
    font-size: 26px;
    margin-bottom: 50px;
    max-width: 420px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 50px;
  }
  .route_pic {
    max-width: 450px;
    margin: 0 auto;
  }
  .route_pic p {
    font-size: 26px;
  }
  .route_pin {
    position: relative;
  }
  .route_pin svg {
    width: 58px;
    height: 95px;
  }
  .route_pin_text {
    padding-top: 8px;
  }
  .route_pin_text img {
    width: 30px;
  }
  .route_pin_en {
    font-size: 32px;
  }
  .route_pin_ch {
    font-size: 14px;
  }
  .route_link_item {
    gap: 18px;
    margin-bottom: 40px;
  }
  .route_link_text h5 {
    font-size: 42px;
  }
  .route_link_text p {
    font-size: 16px;
  }
  .route_link_icon img {
    width: 50px;
  }
  .route_link_icon h3 {
    font-size: 40px;
  }
  .route_link_pic.day2 {
    width: 355px;
  }
  .route_link_pic.day3 {
    width: 390px;
  }
  .route_feat_text p {
    font-size: 24px;
  }
  .route_feat_title {
    font-size: 28px;
  }
  .route_day {
    margin-bottom: 191px;
  }
  .route_day_title {
    font-size: 46px;
  }
  .route_hotel_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
    gap: 20px;
  }
  .route_hotel_title h3 {
    font-size: 38px;
  }
  .route_hotel_title svg {
    width: 74px;
    height: 55px;
  }
  .route_hotel h4 {
    font-size: 28px;
  }
  .route_place_arrow {
    width: 50px;
    height: 50px;
  }
  .route_place_arrow img {
    width: 36px;
  }
  .route_place_text h3 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .route_place_text h4 {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .route_place_info {
    margin-bottom: 15px;
  }
  .route_place_info p {
    font-size: 16px;
  }
  .route_place_name {
    font-size: 24px;
  }
  .route_place_infoname {
    font-size: 22px;
  }
  .route_place_lantern {
    width: 150px;
  }
  .route_place.railway .route_place_text {
    padding-right: 53px;
  }
  .route_place.railway .route_place_text .railway_height {
    font-size: 19px;
  }
  .route_place.railway .route_place_text .railway_intro {
    font-size: 22px;
    margin-top: 14px;
  }
  .route-inner .lantern {
    right: 40px;
  }
  .route-inner .lantern img {
    width: 170px;
  }
}

@media screen and (max-width: 1199px) {
  .route-inner {
    padding-bottom: 0;
  }
  .route-inner .lantern {
    padding-top: 24vw;
    padding-bottom: 27vw;
    position: static;
  }
  .route-inner .lantern img {
    width: 130px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .route_text {
    margin-bottom: 30px;
    padding: 0 !important;
  }
  .route_text-wrap {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  .route_link {
    padding: 0 !important;
  }
  .route_link-wrap {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
  }
  .route_link_wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 65px;
  }
  .route_link_pic.day2 {
    width: 250px;
    margin: 0 auto;
  }
  .route_link_pic.day3 {
    width: 285px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 35px;
  }
  .route_link_pic.railway {
    width: 107px;
    margin: 25px auto 0;
  }
  .route_link_icon {
    gap: 10px;
  }
  .route_link_icon img {
    width: 30px;
  }
  .route_link_icon h3 {
    font-size: 36px;
  }
  .route_item {
    padding-top: 75px;
    margin-bottom: 60px;
  }
  .route_item.railway .route_link {
    max-width: 500px;
  }
  .route_item.railway .route_link_item {
    margin-bottom: 16px;
  }
  .route_feat {
    padding: 40px 0 50px;
  }
  .route_feat .route_link_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin: 0 auto 33px;
  }
  .route_feat .route_link_item .route_pin svg {
    width: 52px;
    height: 85px;
  }
  .route_feat .route_link_item .route_pin_en {
    font-size: 30px;
  }
  .route_feat .route_link_item .route_pin_ch {
    font-size: 14px;
  }
  .route_feat .route_link_item .route_pin_text {
    padding-top: 10px;
  }
  .route_feat .route_link_text h5 {
    font-size: 40px;
  }
  .route_feat_text {
    padding-left: 0;
  }
  .route_feat_text p {
    font-size: 18px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
  .route_feat_title {
    font-size: 23px;
    margin: 0 auto 17px;
  }
  .route_day {
    margin-bottom: 90px;
  }
  .route_day_title {
    margin-bottom: 35px;
    font-size: 25px;
  }
  .route_day .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .route_hotel_title {
    margin-bottom: 12px;
    gap: 7px;
  }
  .route_hotel_title h3 {
    font-size: 23px;
  }
  .route_hotel_title svg {
    width: 33px;
    height: 25px;
  }
  .route_hotel h4 {
    font-size: 18px;
  }
  .route_place_pic {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 24px;
  }
  .route_place_tag {
    width: 50%;
  }
  .route_place_arrow {
    width: 35px;
    height: 35px;
  }
  .route_place_arrow img {
    width: 27px;
  }
  .route_place_text {
    padding: 0 20px;
  }
  .route_place_text h3 {
    font-size: 23px;
    margin-bottom: 11px;
  }
  .route_place_text h4 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .route_place_info {
    margin-bottom: 15px;
  }
  .route_place_info svg {
    width: 14px;
    height: 14px;
  }
  .route_place_info p {
    font-size: 16px;
  }
  .route_place_next {
    width: 10px;
    height: 60px;
    margin: 25px auto;
    -webkit-transform: none;
            transform: none;
  }
  .route_place_name {
    display: none;
  }
  .route_place_infoname {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .route_place_infowrap {
    margin-bottom: 35px;
  }
  .route_place.railway .route_place_text {
    padding: 0 20px;
    height: auto;
    width: 100%;
  }
  .route_place.railway .route_place_text .railway_height {
    font-size: 16px;
  }
  .route_place.railway .route_place_text .railway_intro {
    font-size: 18px;
    margin-top: 11px;
  }
  .route_place-manyspots .row {
    margin-bottom: 0;
  }
  .route_place-manyspots .route_place_infowrap {
    margin-bottom: 35px !important;
  }
}

@media screen and (max-width: 767px) {
  .route .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .route_title {
    margin-bottom: 19px;
  }
  .route_title img {
    width: 175px;
    margin-bottom: 10px;
  }
  .route_title h3 {
    font-size: 24px;
  }
  .route_text {
    margin-bottom: 35px;
  }
  .route_text h4 {
    font-size: 18px;
    max-width: 240px;
    margin-bottom: 35px;
  }
  .route_pic {
    max-width: 320px;
    margin: 0 auto;
  }
  .route_pic > img {
    width: 100%;
    margin-bottom: 7px;
  }
  .route_pic p {
    font-size: 14px;
  }
  .route_pin {
    padding-top: 5px;
  }
  .route_pin svg {
    width: 30px;
    height: 50px;
  }
  .route_pin_en {
    font-size: 18px;
    margin-bottom: 0;
  }
  .route_pin_ch {
    font-size: 8px;
  }
  .route_pin_text {
    padding-top: 10px;
  }
  .route_pin_text img {
    width: 16px;
  }
  .route_link {
    max-width: 400px;
    margin: 0 auto;
  }
  .route_link > .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .route_link > .row > div {
    padding-left: 5px;
    padding-right: 5px;
  }
  .route_link_item {
    gap: 7px;
    margin-bottom: 30px;
  }
  .route_link_text h5 {
    font-size: 24px;
  }
  .route_link_text p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
  }
  .route_link_icon {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .route_link_icon h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 350px) {
  .route_link_text h5 {
    font-size: 22px;
  }
  .route_link_text p {
    font-size: 10px;
  }
}

.lantern img {
  width: 215px;
}

.lantern-home {
  padding: 14vw 0 18vw;
}

.lantern-home img {
  margin: 0 auto;
}

.lantern-B {
  top: 479.79vw;
}

@media screen and (max-width: 575px) {
  .lantern {
    padding-top: 24vw;
    padding-bottom: 27vw;
  }
  .lantern img {
    width: 130px;
  }
}

.railway_route {
  margin-bottom: 250px;
  margin-top: 225px;
  padding: 0 20px;
}

.railway_route .container {
  max-width: 1300px;
  position: relative;
  padding: 0;
}

.railway_route_station {
  position: absolute;
  width: 9.44%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.railway_route_station:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.railway_route_station.station-1 {
  left: 30.79%;
  top: 30.2%;
}

.railway_route_station.station-2 {
  left: 30.79%;
  top: 45.89%;
}

.railway_route_station.station-3 {
  left: 30.79%;
  top: 61.74%;
}

.railway_route_station.station-4 {
  left: 36.11%;
  top: 76.07%;
}

.railway_route_station.station-5 {
  left: 23.06%;
  top: 88.17%;
}

.railway_route_station.station-6 {
  left: 48.84%;
  top: 88.17%;
}

.railway_route_station.station-7 {
  left: 76.96%;
  top: 88.17%;
}

.railway_title {
  width: 150px;
  margin: 0 auto 43px;
  display: block;
}

.railway_name {
  text-align: center;
  font-size: 41px;
  color: #4b4b4b;
  font-weight: 700;
  margin-bottom: 43px;
}

.railway_next {
  display: block;
  width: 16px;
  height: 96px;
  margin: 0 auto 43px;
}

.railway_next path {
  fill: #D06C15;
}

.railway_train {
  margin-top: 180px;
  padding-top: 186px;
  padding-bottom: 47.71vw;
  background-color: rgba(230, 228, 0, 0.05);
}

.railway_train .row {
  margin-left: -41px;
  margin-right: -41px;
}

.railway_train .row > div {
  padding-left: 41px;
  padding-right: 41px;
}

.railway_train_pic {
  width: 252px;
  height: 252px;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 80px 0 0 #009683;
          box-shadow: 80px 0 0 #009683;
  margin: 0 auto 49px;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.railway_train_pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.railway_train_item h2 {
  font-size: 39px;
  text-align: center;
  color: #4b4b4b;
  font-weight: 700;
  margin-bottom: 34px;
}

.railway_train_info a {
  padding: 10px 34px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 34px;
  border-radius: 100px;
  background-color: #009683;
  font-size: 34px;
  font-weight: 500;
  color: #fff;
}

.railway_train_info a:hover {
  background-color: #abcd03;
}

.railway_train_info ul li {
  font-size: 31px;
  font-weight: 500;
  margin-bottom: 10px;
}

.railway_train_info ul li:last-child {
  margin-bottom: 0;
}

.railway_train_info ul li.highlight {
  color: #009683;
}

@media screen and (max-width: 1700px) {
  .railway_route {
    margin-bottom: 188px;
    margin-top: 169px;
  }
  .railway_title {
    width: 113px;
    margin-bottom: 32px;
  }
  .railway_name {
    font-size: 31px;
    margin-bottom: 32px;
  }
  .railway_next {
    width: 12px;
    height: 72px;
    margin-bottom: 32px;
  }
  .railway_train {
    margin-top: 135px;
    padding-top: 140px;
  }
  .railway_train .row {
    margin-left: -31px;
    margin-right: -31px;
  }
  .railway_train .row > div {
    padding-left: 31px;
    padding-right: 31px;
  }
  .railway_train_pic {
    width: 189px;
    height: 189px;
    -webkit-box-shadow: 60px 0 0 #009683;
            box-shadow: 60px 0 0 #009683;
    margin-bottom: 38px;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  .railway_train_item h2 {
    font-size: 26px;
    margin-bottom: 34px;
  }
  .railway_train_info a {
    padding: 8px 26px;
    margin-bottom: 26px;
    font-size: 26px;
  }
  .railway_train_info ul li {
    font-size: 23px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 1199px) {
  .railway_train {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .railway_train_item {
    margin-bottom: 80px;
  }
  .railway_train_info {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .railway_train .row {
    margin: 0;
  }
  .railway_train .row > div {
    padding: 0 45px;
  }
}

@media screen and (max-width: 767px) {
  .railway_route {
    margin-top: 40px;
    margin-bottom: 90px;
    padding: 0 7vw;
  }
  .railway_route_station {
    width: 16.18%;
  }
  .railway_route_station.station-1 {
    left: 36.76%;
    top: 26.3%;
  }
  .railway_route_station.station-2 {
    left: 36.76%;
    top: 42.21%;
  }
  .railway_route_station.station-3 {
    left: 36.76%;
    top: 58.3%;
  }
  .railway_route_station.station-4 {
    left: 45.88%;
    top: 72.84%;
  }
  .railway_route_station.station-5 {
    left: 23.53%;
    top: 85.12%;
  }
  .railway_route_station.station-6 {
    left: 45%;
    top: 85.12%;
  }
  .railway_route_station.station-7 {
    left: 78.82%;
    top: 85.12%;
  }
  .railway_title {
    width: 55px;
    margin-bottom: 23px;
  }
  .railway_name {
    font-size: 23px;
    margin-bottom: 23px;
  }
  .railway_next {
    width: 10px;
    height: 60px;
    margin-bottom: 23px;
  }
  .railway_train {
    margin-top: 77px;
    padding-top: 68px;
  }
  .railway_train_pic {
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 48px 0 0 #009683;
            box-shadow: 48px 0 0 #009683;
    margin-bottom: 29px;
    -webkit-transform: translateX(-24px);
            transform: translateX(-24px);
  }
  .railway_train_item h2 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .railway_train_info a {
    padding: 5px 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .railway_train_info ul li {
    font-size: 18px;
  }
}

.mb-41 {
  margin-bottom: 41px;
}

.traffic-way {
  margin-top: 225px;
  margin-bottom: 250px;
}

.traffic-way_item {
  margin-bottom: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 105px;
}

.traffic-way_transform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  width: 300px;
}

.traffic-way_transform > img {
  width: 176px;
}

.traffic-way_arrow {
  width: 92px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #76A035;
}

.traffic-way_arrow img {
  width: 76%;
}

.traffic-way_text {
  font-size: 30px;
  margin: 0;
  color: #4b4b4b;
  width: calc(100% - 300px - 105px);
}

.traffic-info_item {
  margin-bottom: 145px;
}

.traffic-info_item h2 {
  font-size: 40px;
}

.traffic-info_item h2 a {
  margin-bottom: 16px;
  color: #abcd03;
  font-weight: 700;
}

.traffic-info_item h2 a:hover {
  color: #009683;
}

.traffic-info_item ul li {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
}

.traffic-info_item ul li svg {
  width: 30px;
  height: 30px;
  margin-top: 7px;
}

.traffic-info_item ul li svg path {
  fill: #abcd03;
}

.traffic-info_item ul li p {
  font-size: 31px;
  color: #4b4b4b;
  margin: 0;
  width: calc(100% - 30px - 11px);
}

.traffic-info_item ul li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1700px) {
  .traffic-way {
    margin-top: 169px;
    margin-bottom: 188px;
  }
  .traffic-way_item {
    margin-bottom: 109px;
    gap: 79px;
  }
  .traffic-way_transform {
    gap: 24px;
    width: 225px;
  }
  .traffic-way_transform > img {
    width: 132px;
  }
  .traffic-way_arrow {
    width: 69px;
    height: 69px;
  }
  .traffic-way_text {
    font-size: 23px;
    width: calc(100% - 225px - 79px);
  }
  .traffic-info_item {
    margin-bottom: 109px;
  }
  .traffic-info_item h2 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .traffic-info_item ul li {
    margin-bottom: 15px;
    gap: 8px;
  }
  .traffic-info_item ul li svg {
    width: 23px;
    height: 23px;
    margin-top: 5px;
  }
  .traffic-info_item ul li p {
    font-size: 23px;
    width: calc(100% - 23px - 8px);
  }
}

@media screen and (max-width: 991px) {
  .traffic-way_item {
    display: block;
  }
  .traffic-way_transform {
    margin-bottom: 26px;
    width: 100%;
  }
  .traffic-way_text {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .traffic-way {
    margin-top: 41px;
    margin-bottom: 104px;
  }
  .traffic-way_item {
    margin-bottom: 60px;
  }
  .traffic-way_transform {
    gap: 14px;
  }
  .traffic-way_transform > img {
    width: 76px;
  }
  .traffic-way_arrow {
    width: 40px;
    height: 40px;
  }
  .traffic-way_text {
    font-size: 18px;
  }
  .traffic-info_item {
    margin-bottom: 65px;
  }
  .traffic-info_item h2 {
    font-size: 23px;
    margin-bottom: 8px;
  }
  .traffic-info_item ul li {
    margin-bottom: 16px;
    gap: 6px;
  }
  .traffic-info_item ul li svg {
    width: 17px;
    height: 17px;
    margin-top: 5px;
  }
  .traffic-info_item ul li p {
    font-size: 18px;
    width: calc(100% - 17px - 6px);
  }
}
/*# sourceMappingURL=style.css.map */